{
  "openapi": "3.0.3",
  "info": {
    "title": "jseverino.com Contact API",
    "version": "1.0.0",
    "description": "Schema for the public contact form endpoint."
  },
  "servers": [
    {
      "url": "https://jseverino.com"
    }
  ],
  "paths": {
    "/api/contact": {
      "post": {
        "summary": "Submit a contact form message",
        "operationId": "submitContactMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSubmission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission accepted or honeypot submission ignored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON, missing required fields, invalid email, or failed Turnstile verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "413": {
            "description": "Request body is too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "415": {
            "description": "Request content type is not JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "429": {
            "description": "Too many submissions from the same IP address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          },
          "500": {
            "description": "Submission could not be saved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContactSubmission": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "email",
          "message",
          "turnstileToken"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 190
          },
          "email": {
            "type": "string",
            "format": "email",
            "minLength": 3,
            "maxLength": 190
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "company": {
            "type": "string",
            "maxLength": 190,
            "description": "Optional honeypot field. Human submissions leave this empty."
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048
          },
          "turnstileToken": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "ContactSuccess": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        }
      },
      "ContactError": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "ok",
          "error"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
