---
import { getSiteChrome } from '@lib/content';
import SocialLinks from '@components/SocialLinks.astro';

const { socialLinks } = await getSiteChrome();
---

<footer class="site-footer">
  <div class="footer-inner">
    <a href="https://github.com/joeseverino/jseverino.com" class="source-link">&lt;/&gt; View Source</a>
    <SocialLinks links={socialLinks} />
  </div>
</footer>
