---
type NavItem = {
  href: string;
  label: string;
  current: boolean;
};

type Props = {
  items: NavItem[];
  listClass: string;
  linkClass: string;
  linkDataAttribute?: string;
};

const { items, listClass, linkClass, linkDataAttribute } = Astro.props;
const linkDataAttributes = linkDataAttribute ? { [linkDataAttribute]: '' } : {};
---

<ul class={listClass}>
  {items.map((item) => (
    <li>
      <a
        class={linkClass}
        href={item.href}
        aria-current={item.current ? 'page' : undefined}
        {...linkDataAttributes}
      >{item.label}</a>
    </li>
  ))}
</ul>
